body    {
        margin-left: 0px;
        }

img     {
        border: 10px dotted red;
        max-width: 100%
        margin-top: 40px;
        }

a   {
    text-decoration: none;
    color:#919799;
    }

a:hover {
        color: blueviolet;
        }

a:visited {
        color: #0099cc;
        }

.logo {width: 15%;
      position: relative;
      margin-right: 50px;
      /* border: 10px dotted red;
     */
    }

li  {position: relative;
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color:  #919799;
    text-align: center
    text-decoration: none;
    display: inline-block;
    margin-left: -200px;
    margin top: 40px;
    margin:auto;
    padding: 0px 50px 50px;
    /*
    border: 10px dotted red;*/
    }

h1  {
    position: relative;
    font-family: Helvetica, sans-serif;
    font-size: 100px;
    color: #919799;
    line-height: .8;
    text-align: left;
    padding:20px 50px 50px 30px;
    margin-left: 750px;
    }

h2  {
    font-family: Helvetica, sans-serif;
    font-size: 65px;
    letter-spacing: 1.7px;
    color: #919799;
    text-align: left;
    }

h3  {
    font-family: Helvetica, sans-serif;
    font-size: 65px;
    letter-spacing: 1.5px;
    color: #919799;
    text-align: left;
    padding:5px 50px 80px 750px;
    }

h4  {
    width: 40%;
    font-family: Helvetica, sans-serif;
    font-size: 60px;
    line-height: .5;
    padding:60px 50px 0px 750px;
    color: #919799;
    }


 
p   {font-family: DroidSans, sans-serif;
    font-size: 60px;
    letter-spacing: 3px;
    width: 40%;
    padding:0px 50px 0px 750px;
    color: #919799;}

div div {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
        border: none;
        display: inline-block;
        padding: 10px;
        text-align: center;
        margin: auto;}


/*div:after {
    content: "";
    background: url(reeftankimages/wov.png) repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; */

 input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

